ul.nav.navbar-nav.navbar-right
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      span.avatar.avatar-small
        img.img-circle(src='id.svg', alt='')
      |  Nyashkin 
      span.caret
    ul.dropdown-menu
      li
        a(href='https://github.com/fdcore/simple-admin-template', target="_blank") GitHub
      li
        a(href='http://nyashk.in', target="_blank") Nyashkin Blog
      li
        a(href='#') Something else here
      li.divider(role='separator')
      li.dropdown-header Header in menu :)
      li: a(href='login.html') Logout
