doctype html
html(lang='en')
  head
    title Error page
    include includes/_header.jade
  body
    .container
      .row.m-t-100
        .sign_form
          .panel.panel-danger
            .panel-heading
              h3.panel-title Ошибка 404
            .panel-body
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero optio quidem cupiditate earum voluptatum inventore deserunt excepturi esse, minus sapiente reiciendis consequuntur, totam autem maxime blanditiis magnam neque quas ab?
            .panel-footer
              a.btn.btn-default.btn-block(href='index.html') Вернуться назад
    include includes/_footer_default_js.jade
